@import "nullstyle.scss";
@import "templates.scss";
.hidden{
    display: none;
}
//  OFFER
.offer{
    background: url(img/background-main-1440.jpg)no-repeat center/cover;
    height: 100vh;
    padding: 50px 0;
    .offer-nav{
        @extend %styleNav;
        .logo{
            @extend %styleNavlogo;
            background: url(/img/logo.svg)no-repeat;
        }
        .tel{
            @extend %styleNavtel;
            &::before{
                content: "";
                display: block;
                background: url(/img/menu-tel.svg);
                width: 15px;
                height: 14px;
                margin-right: 10px;
            }
        }
        .tel-desc{
            @extend %styleNavTelDesc;
            &:hover{
                transform: scale(1.5);
            }
        }
    }
    .offer-box{
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .offer-main{
        max-width: 875px;
        // margin: 97px auto 0;
        .offer-title{
            color: #fff;
            font-size: 48px;
            text-align: center;
        }
        .offer-desc{
            color: #fff;
            text-align: center;
            margin: 20px 0 30px;
            font-weight: 400;
            font-size: 24px;
            font-family: 'Play', sans-serif;
        }
        .offer-btn{
            @extend %styleBtn;
            width: 240px;
            margin: auto;
            padding: 18px 22px;
        }
   }
   .offer-ability{
        margin: 82px auto 0px;
        display: flex;
        max-width: 875px;
        justify-content: space-between;
        .ability-factory{
            @extend %styleAbi;
            &::before{
                content: "";
                background: url(/img/img-offer-factory.svg)no-repeat;
                @extend %styleAbiBefore;
            }
        }
        .ability-state{
            @extend %styleAbi;
            &::before{
                content: "";
                background: url(/img/img-offer-tools.svg)no-repeat;
                @extend %styleAbiBefore;
            }
        }
        .ability-exp{
            @extend %styleAbi;
            &::before{
                content: "";
                background: url(/img/img-offer-slave.svg)no-repeat;
                @extend %styleAbiBefore;
            }
        }
        .ability-desc{
            font-size: 14px;
            color: #fff;
        }
   }
}
// GOALS
.goals{
    background: url(/img/backgroundQuiz.png)no-repeat center/cover;
    padding: 50px 0;
    height: 100vh;
    .plates{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 45px;
    }
    .plate-box{
        text-align: center;
        margin: 0 0 45px 0;
        img{
            width: 295px;
        }
        .plate-box__radio-real{
            display: none;
        }
        .plate-box__radio{
            position: relative;
        }
        .plate-box__radio-real:checked + .plate-box__radio-fake::before {
            content: "";
            background: url(/img/radio-btn.svg)no-repeat;
            display: block;
            position: absolute;
            left: -18px;
            top: 17px;
            width: 43px;
            height: 40px;
        }
        .plate-box__text{
            margin-top: 16px;
        }
    }
    .footer-buttons{
        @extend %styleBoxBtn;
        & div{
            @extend %styleCounter;
        }
        .btn-footer-back{
            @extend %styleBtnGhost;
        }
        .btn-footer{
            @extend %styleBtn;
        } 
    }
}
// FOUNDATION
.foundation{
    background: url(/img/backgroundQuiz.png)no-repeat center/cover;
    padding: 250px 0;
    height: 100vh;
    & .radio{
        margin-top: 98px;
    }
    & .radio-box{
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 34px;
        }
    }
    & .radio-box__btn{
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }
    .footer-buttons{
        @extend %styleBoxBtn;
        & div{
            @extend %styleCounter;
        }
        .btn-footer-back{
            @extend %styleBtnGhost;
        }
        .btn-footer{
            @extend %styleBtn;
        } 
    }
}
// SIZE-OBJECT
.size-object{
    background: url(/img/backgroundQuiz.png)no-repeat center/cover;
    padding: 100px 0;
    height: 100vh;
    .range-box{
        margin-bottom: 40px;
    }
    & input[type=range]{
        width: 100%;
        height: 1px;
        margin: 25px 0;
    }
    .range-box__output{
        display: flex;
        justify-content: space-between;
    }
    .check-box{
        display: flex;
        & p {
            margin-left: 12px;
        }
    }
    .footer-buttons{
        @extend %styleBoxBtn;
        & div{
            @extend %styleCounter;
        }
        .btn-footer-back{
            @extend %styleBtnGhost;
        }
        .btn-footer{
            @extend %styleBtn;
        } 
    }
}
// FORM-PLATE
.form-plate{
    background: url(/img/background-main-1440.jpg)no-repeat center/cover;
    padding: 100px 0;
    height: 100vh;
    .form-box{
        max-width: 440px;
        padding: 24px 0;
        margin: auto;
        background: #fff;
        border: 1px solid #1B6EB8;
        border-radius: 10px;
        & h3{
            font-size: 18px;
            text-align: center;
            margin-bottom: 7px;
        }
        & p{
            margin-bottom: 10px;
            text-align: center;
        }
        & form{
            max-width: 350px;
            margin: auto;
            & input{
                width: 350px;
                height: 70px;
                margin-bottom: 30px;
                border: 1px solid #C4C4C4;
                border-radius: 6px;
                padding: 0 20px;
                &::placeholder{
                    color: #949494;
                }
            }
            button{
                @extend %styleBtn;
                width: 350px;
                height: 70px;
            }
        }
        .privacy{
            display: flex;
            margin-top: 20px;
            justify-content: center;
            & input{
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
    }
    .offer-nav{
        @extend %styleNav;
        .logo{
            @extend %styleNavlogo;
            background: url(/img/logo.svg)no-repeat;
        }
        .tel{
            @extend %styleNavtel;
            &::before{
                content: "";
                display: block;
                background: url(/img/menu-tel.svg);
                width: 15px;
                height: 14px;
                margin-right: 10px;
            }
        }
        .tel-desc{
            @extend %styleNavTelDesc;
            &:hover{
                transform: scale(1.5);
            }
        }
    }
}
// THANKS
.thanks{
    height: 100vh;
    background: url(/img/backgroundQuiz.png)no-repeat center/cover;
    padding: 100px 0;
    div{
        max-width: 535px;
        margin: auto;
        text-align: center;
        & h2{
            font-size: 33px;
        }
        & p{
            font-size: 23px;
            margin: 15px 0;
        }
        & a{
            width: 110px;
            margin: auto;
            transition: all 1s ease;
            &:hover{
                transform: rotateY(360deg);
            }
        }
    }

}